<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Manage Company</title>
    <!-- <script>
        function search() {

            var action_url = document.getElementsByName('search')[0].value
            var form = document.getElementById('form')
            form.action = action_url
        }
    </script> -->
</head>

<body>
    <div class="container mt-2">
        <form action="/search" method="get">
            <div class="input-group rounded ">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
                <button type="submit" class="input-group-text border" id="search-addon">
                    <img src="https://img.icons8.com/ios/50/000000/search--v1.png" width="20px" />
                </button>
            </div>
    </div>
    </form>
</body>

</html>